<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">WEBxDANCE</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="http://localhost:5000/home" class="w3-bar-item w3-button">HOME</a>
      <a href="http://localhost:5000/matching" class="w3-bar-item w3-button"><i class="fa fa-user"></i> DANCE BUDDY FINDER </a>
      <a href="http://localhost:5000/matching/result" class="w3-bar-item w3-button"><i class="fa fa-th"></i> COMPATIBILITY RESULTS</a>
      <a href="http://localhost:5000/chat" class="w3-bar-item w3-button"> DANCE CLASSES</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

</body>
</html>